<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Wiserobot\Io\Api\ProductIoInterface" type="Wiserobot\Io\Model\ProductIo" />
    <preference for="Wiserobot\Io\Api\ProductImportInterface" type="Wiserobot\Io\Model\ProductImport" />
    <preference for="Wiserobot\Io\Api\OrderIoInterface" type="Wiserobot\Io\Model\OrderIo" />
    <preference for="Wiserobot\Io\Api\OrderImportInterface" type="Wiserobot\Io\Model\OrderImport" />
    <preference for="Wiserobot\Io\Api\PaymentIoInterface" type="Wiserobot\Io\Model\PaymentIo" />
    <preference for="Wiserobot\Io\Api\ShippingIoInterface" type="Wiserobot\Io\Model\ShippingIo" />
    <preference for="Wiserobot\Io\Api\ShipmentImportInterface" type="Wiserobot\Io\Model\ShipmentImport" />
    <preference for="Wiserobot\Io\Api\RefundImportInterface" type="Wiserobot\Io\Model\RefundImport" />
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="io_order_id" xsi:type="string">sales_order.io_order_id</item>
                <item name="ca_order_id" xsi:type="string">sales_order.io_order_id</item>
                <item name="buyer_user_id" xsi:type="string">sales_order.buyer_user_id</item>
                <item name="io_marketplace" xsi:type="string">sales_order.io_marketplace</item>
            </argument>
        </arguments>
    </virtualType>
</config>
